## XGBOOST

### Why XGBoost?
https://towardsdatascience.com/a-beginners-guide-to-xgboost-87f5d4c30ed7

https://towardsdatascience.com/https-medium-com-vishalmorde-xgboost-algorithm-long-she-may-rein-edd9f99be63d

TLDR: Its fast and powerful :)

<img src="https://miro.medium.com/max/1920/1*U72CpSTnJ-XTjCisJqCqLg.jpeg"
     alt="Why XGBoost"/>

In [93]:
import xgboost as xgb
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

# The output of multiple commands in a cell will be output at once.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [95]:
# We start by importing the new data set
home_folder = '/Users/anthonymiyoro/Documents/code/DataTho/'

#Load dataset
train_modified = pd.read_csv(home_folder + 'train_modified.csv', encoding = "ISO-8859-1")
test_bundas = pd.read_csv(home_folder + 'test_modified.csv', encoding = "ISO-8859-1")

In [96]:
train_modified.head()

,Unnamed: 0,Item_ID,Weight,Visibility,Max_Price,Store_Establishment_Year,Item_Store_Sales,tracker,FatContent_LF,FatContent_Low Fat,...,Store_Type_Supermarket Type1,Store_Type_Supermarket Type2,Store_Type_Supermarket Type3,Store_ID_OUT013,Store_ID_OUT018,Store_ID_OUT019,Store_ID_OUT027,Store_ID_OUT035,Store_ID_OUT046,Store_ID_OUT049
0,1,FDA15,9.300,0.016047,249.8092,1999,3735.1380,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,2,DRC01,5.920,0.019278,48.2692,2009,443.4228,2,0,0,...,0,1,0,0,1,0,0,0,0,0
2,3,FDN15,17.500,0.016760,141.6180,1999,2097.2700,3,0,1,...,1,0,0,0,0,0,0,0,0,1
3,5,NCD19,8.930,0.000000,53.8614,1987,994.7052,5,0,1,...,1,0,0,1,0,0,0,0,0,0
4,6,FDP36,10.395,0.000000,51.4008,2009,556.6088,6,0,0,...,0,1,0,0,1,0,0,0,0,0

### Split the data between train and test

We then remove the Item_ID feature as it does not correlate to Sales

In [97]:
train_modified = train_modified.drop('Item_ID', axis=1)

Our scikit learn package requires that the explanatory variables are stored seperately from the outcome variables.

In [98]:
rf_trainY = train_modified['Item_Store_Sales']
rf_trainX = train_modified.drop('Item_Store_Sales', axis=1)

In [99]:
X_train, X_test, y_train, y_test = train_test_split(rf_trainX, rf_trainY, test_size=0.2)

len(X_train)
len(X_test)
len(y_train)
len(y_test)

4887

1222

4887

1222

In [ ]:
X_train.head(3)

In order for XGBoost to be able to use our data, weâ€™ll need to transform it into a specific format that XGBoost can handle. 

That format is called DMatrix. We first transform our dataframe to a numoy array after which we can convert it to a DMatrix format.

In [ ]:
X_train.to_numpy()
X_test.to_numpy()
y_train.to_numpy()
y_test.to_numpy()

In [ ]:
D_train = xgb.DMatrix(X_train, label=y_train)
D_test = xgb.DMatrix(X_test, label=y_test)

We then define the parameters of our XGBoost model as shown below:

We use eta to prevent overfitting in our ensemble model as shown below: https://www.datacamp.com/community/tutorials/xgboost-in-python

We now train the model as shown below:

In [ ]:
#reg:squarederror replaces reg:linear
xg_reg = xgb.XGBRegressor(objective ='reg:squarederror', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)

In [ ]:
# xg_reg.fit(X_train,y_train)

# preds = xg_reg.predict(X_test)

params = {"objective":"reg:linear",'colsample_bytree': 0.3,'learning_rate': 0.1,
                'max_depth': 5, 'alpha': 10}

cv_results = xgb.cv(dtrain=data_dmatrix, params=params, nfold=3,
                    num_boost_round=50,early_stopping_rounds=10,metrics="mse", as_pandas=True, seed=123)

In [ ]:
cv_results.head()

In [ ]:
r2 = r2_score(y_test, preds)
print("R2 Score: %f" % (r2))

In [ ]:
preds = xg_reg.predict(X_test)

In [ ]:
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))